@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}

:root {
    --font-color: #363636;
    --bg-color: #f1f1f1;
    --shadow-bg-color: #fff;
}

.navbar-brand {
    font-weight: 600 !important;
    letter-spacing: 2px;
    font-size: 22px !important;
}

.bi-arrow-clockwise {
    color: #242424;
    font-size: 22px !important;
    cursor: pointer;
}

#total-repos {
    color: #242424;
}

.fixed {
    background-color: #fff;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
}

#link-css {
    position: relative;
    margin-left: 10px;
    letter-spacing: 2px !important;
    color: #242424 !important;
    text-transform: uppercase;
    font-size: 14px !important;
    transition: all 0.3s ease-in-out !important;
}

#link-css:hover {
    color: #bc07e0 !important;
}

#margin {
    margin-top: 8rem !important;
}

.__main__ {
    font-size: 30px;
    letter-spacing: 1px;
    color: #242424;
    text-transform: uppercase;
}

#flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-fixed-color {
    color: #363636;
}

.min {
    width: 150px;
    border: 1px solid #07c7e0;
}

.main-h4 {
    position: relative;
    font-size: 22px;
    letter-spacing: 1px;
    color: #242424;
    text-transform: uppercase;
}

.main-h4::before {
    content: "";
    width: 50px;
    border: 1px solid #07c7e0;
    position: absolute;
    left: 3px;
    bottom: -4px;
    border-radius: 5px;
}

.main-h4::after {
    content: "";
    width: 80px;
    border: 1px solid #e9e9e9;
    position: absolute;
    left: 10px;
    bottom: -4px;
    border-radius: 5px;
    z-index: -1;
}

.container-custom {
    padding: 1rem 2rem !important;
}

.box-shadow {
    padding: 20px;
    padding-top: 10px;
    background-color: #fff;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.git {
    font-size: 30px;
    color: #bc07e0;
    display: flex;
    justify-content: center;
}

.text-fixed {
    color: var(--font-color);
    font-size: 14px;
    letter-spacing: 1px;
}

.plus {
    color: #bc07e0;
}

.text-span {
    font-size: 14px;
    color: var(--font-color);
    cursor: pointer;
    text-decoration: underline;
}

#social-main {
    color: #242424 !important;
}

.main-h {
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #242424;
    padding: 10px;
}

.features {
    font-size: 16px;
    letter-spacing: 1px;
    color: #363636;
}

.list-todo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-features {
    list-style: none;
    letter-spacing: 1px;
}

.list-features i {
    margin-right: 20px;
    color: #bc07e0;
    font-size: 18px;
}

.list-features li {
    margin-top: 5px;
}

.main-btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#not-found {
    color: rgb(230, 230, 230);
}

#list-error {
    color: rgb(230, 230, 230);
}

del {
    color: #868686;
}

i.bi-clipboard {
    padding-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #bc07e0;
}

.modal-footer {
    padding: 0 !important;
}

.hr {
    width: 100%;
    /* height: 2px#dee2e6; */
    border-top: 1px solid #dee2e6;
}

.footer-links {
    padding: 10px !important;
}

.footer-h4 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #242424;
}

ul.link-footerslist {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.footerslist li:first-child {
    padding-top: 0;
}

ul.link-footerslist li a {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-decoration: none !important;
    color: #363636;
}

ul.link-footerslist li i {
    color: #bc07e0;
    margin-right: 5px;
}

ul.link-footerslist li i.bi-facebook {
    color: #bc07e0;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

ul.link-footerslist li i.bi-instagram {
    color: #bc07e0;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

ul.link-footerslist li i.bi-twitter {
    color: #bc07e0;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

ul.link-footerslist li i.bi-linkedin {
    color: #bc07e0;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.lorem-footer {
    letter-spacing: 1px;
    color: #363636;
}

form {
    position: relative;
}

form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    padding: 10px;
    text-align: center;
    background-color: #bc07e0;
    color: #f1f1f1;
    font-size: 16px;
    padding: 0 15px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.copyright-server {
    padding: 10px;
}

.server {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #363636;
}

.made {
    text-align: center;
    color: #363636;
    letter-spacing: 1px;
    font-size: 14px;
}

.under {
    cursor: pointer;
    color: #07c7e0;
}

#font-awesome {
    font-size: 30px;
    color: #bc07e0;
    display: flex;
    justify-content: center;
}